<div class="news">
  <div class="news-box">

    <div class="news-title">
      お知らせ
    </div>

    <div class="news-contents">
      <% @messages.order(created_at: :desc).limit(3).each do |message| %>
        <div class="news-content">
          <div class="news-content-date">
            <%= message.created_at.strftime('%Y/%m/%d') %>
          </div>
          <div class="news-content-message">
            <%= message.message.length > 30 ? "#{message.message[0..29]}..." : message.message %>
          </div>
        </div>
      <% end %>
      <div class="news-show">
        <%= link_to "READ MORE..", messages_path %>
      </div>
     </div>

  </div>
</div>
