<div class="contents row">
お知らせ
    <% @messages.each do |message| %>
      <div class="content_post">
        <p><%= message.message %></p>
        <span class="name">
        </span>
      </div>
    <% end %>
  </div>
