<h3>編集する</h3>
    <%= form_with(model: @message,  local: true) do |form| %>
      <%= form.text_field :message, placeholder: "お知らせ内容", name: "message[message]" %>
      <%= form.submit "SEND" %>
    <% end %>