/******************************************************** 
  ヘッダー
********************************************************/
.header {
  width: 100vw;
  height: 120hh;
}

.top-header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.club-name {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

.user-info {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.user-info-lists {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.user-info-list {
  margin: 0px 10px;
}

.bottom-header {
  background-color: #a6e4e7;
  display: flex;
  justify-content: center;
}

.club-info-lists {
  background-color: #F0F;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 1200px;
}

.club-info-list {
  font-size: 16px;
  font-weight: bold;
}

a {
	color: #000000;
  text-decoration: none;
}

a:hover{
  color: orange;
}


/******************************************************** 
  トップページ 
********************************************************/
.main {
  background-color: #FFFFFF ;
  width: 100vw;

}

.top-image {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.club-image {
  width: 1200px;
  height: 500px;
  object-fit: cover;
}



/******************************************************** 
  お知らせ
********************************************************/
.news {
  display: flex;
  justify-content: center;
}

.news-box{
  background-color: bisque;
  width: 1200px;
  height: 550px;
}

.news-title {
  font-size: 25px;
  margin: 100px 0 0 100px;
}


.news-contents {
  margin: 30px 0 0 100px;
}

.news-content {
  font-size: 16px;
  height: 90px;
  display: flex;
}

.news-content-date {
  color: #787878;
}

.sample-image {
  width: 90px;
  height: 60px;
  object-fit: cover;
}

.news-content-message {
  margin-left: 60px;
}

.news-show {
  text-align: right;
  margin: 10px 200px 0 0;
}



/******************************************************** 
  スケジュール(一覧画面)
********************************************************/
.schedule {
  display: flex;
  justify-content: center;
}

.schedule-top {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 750px;
}

.schedule-title {
  font-size: 25px;
  margin: 100px 0 0 100px;
}

.schedule-introduce {
  margin : 30px 0 0 100px;
}

.schedule-right {
  width: 800px;
  margin : 100px 60px 0 0px;
}

/******************************************************** 
  スケジュール(登録画面)
********************************************************/
.schedule-admin {
  display: flex;
  justify-content: center;
}

.schedule-new {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.schedule-form {
  width: 500px;
}

.schedule-form-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.schedule-confirm {
  width: 1200px;
  text-align: center;
}

.time {
  margin: 20px 0;
}

/******************************************************** 
  フッター
********************************************************/
.footer {
  background-color: #a6e4e7;
  width: 100vw;
  height: 40px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.privacy_policy {
  font-size: 8px;
}