/******************************************************** 
  ヘッダー
********************************************************/
.header {
  width: 100vw;
  height: 120hh;
}

.top-header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.club-name {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

.user-info {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.user-info-lists {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.user-info-list {
  margin: 0px 10px;
}

.bottom-header {
  background-color: #a6e4e7;
  display: flex;
  justify-content: center;
}

.club-info-lists {
  background-color: #F0F;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 900px;
}

.club-info-list {
  font-size: 16px;
  font-weight: bold;
}

a {
	color: #000000;
  text-decoration: none;
}

a:hover{
  color: orange;
}


/******************************************************** 
  トップページ 
********************************************************/
.main {
  background-color: #FFFFFF ;
  width: 100vw;
  height: 1000px;
}

.top-image {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.club-image {
  width: 900px;
  object-fit: cover;
}






.news {
  display: flex;
  justify-content: center;
}

.news-box{
  display: flex;
  background-color: bisque;
  width: 900px;
  height: 200px;
}

.news-title {
  font-size: 25px;
  height: 200px;
  width: 200px;
  text-align: center;
  margin-top: 30px;
}

.news-contents {
  height: 200px;
  width: 700px;
  margin-top: 35px;
}

.news-content {
  font-size: 16px;
  height: 40px;
  display: flex;
}

.news-content-date {
  color: #787878;
}

.news-content-message {
  margin-left: 15px;
}

.news-show {
  text-align: right;
  margin-right:80px;
}



/******************************************************** 
  フッター
********************************************************/
.footer {
  background-color: #a6e4e7;
  width: 100vw;
  height: 40px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.privacy_policy {
  font-size: 8px;
}